html,
body {
  overflow: hidden;
}
.modalContainer {
  position: fixed;
  z-index: 999;
  padding-top: 220px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: transparent;
}

.modalContainer .modal-content {
  position: relative;

  width: 26%;
  height: 33%;
  margin: auto;
  padding: 20px;

  text-align: left;
  border-radius: 5px;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 1);

  font-family: monospace;
  font-weight: lighter;
  text-align: left;
}
.modalContainer .modal-content::before,
.modalContainer .modal-content::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: calc(100% + 14px);
  height: calc(100% + 14px);
  top: -7px;
  left: -7px;
  border-radius: 4px;
  background: linear-gradient(
    #39ff14,
    #52fa31,
    #67f14f,
    #67f14f,
    #52fa31,
    #39ff14
  );
  background-size: 400%;
  animation: border 2s infinite alternate-reverse;
}
@keyframes border {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.5;
  }
}

.modalContainer .modal-content::after {
  filter: blur(50px);
}
.modalContainer .modal-content2 {
  position: relative;

  color: #ffffff;
  width: 22%;
  height: 8%;
  margin: auto;
  padding: 20px;

  text-align: center;
  border-radius: 5px;
  font-size: 25px;

  background: linear-gradient(#ff0d0d, #ff2d2d);
  font-family: monospace;
  font-weight: lighter;
  text-align: left;
}
.modalContainer .modal-content2::before,
.modalContainer .modal-content2::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: calc(100% + 14px);
  height: calc(100% + 14px);
  top: -7px;
  left: -7px;
  border-radius: 4px;
  background-color: rgb(251, 0, 0);
  background-size: 400%;
  animation: error 2s infinite alternate-reverse;
}
@keyframes error {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.5;
  }
}

.modalContainer .modal-content2::after {
  filter: blur(50px);
}
.mensajeError {
  font-size: 25px;
  width: auto;
  font-weight: 100;
  text-align: center;
  padding-bottom: -100px;
}
.terminal {
  width: 100%;

  font-size: 25px;
  background-color: transparent;
  color: #39ff14;
  border: #000000;
  outline-color: #000000;
  float: left;
  text-decoration: none;
}
.terminal:focus {
  outline: none;
}

.terminal::placeholder {
  color: #189f00;
  opacity: 50%;
}
.comandos {
  display: table;
  font-size: 25px;
  background-color: transparent;
  color: #39ff14;
  font-family: monospace;
  font-weight: lighter;
  text-align: left;
}

.spani {
  color: #000000;
  position: absolute;
  right: 0;
  width: 0;
  background-color: rgba(0, 0, 0, 1);
  border-left: 1px solid #39ff14;
  animation: maquina 1s steps(90);
}
@keyframes maquina {
  from {
    width: 98%;
  }
  to {
    width: 4%;
  }
}

.boton {
  left: 15px;
  top: 180px;
  font-size: 20px;
  text-align: center;
  border: none;
  width: 30%;
  color: #000000;
  background-color: #39ff14;
  text-decoration: none;
  position: relative;
  border-radius: 5px;
  padding: 15px;
  margin: 8px;

  animation: aparecer 1s;
}
.boton:visited {
  text-decoration: none;
}
.boton:link {
  text-decoration: none;
}
.boton:active {
  text-decoration: none;
}

.boton-game {
  position: relative;
  left: 400px;
  top: -90px;
  opacity: 100%;
  font-size: 15px;
  background-color: transparent;
  border: none;
  width: 30%;
  color: #000000;

  text-decoration: none;
}

.game-area {
  position: relative;
  color: #39ff14;
  width: 20%;
  height: 16%;
  padding: 5%;
  margin: auto;
  border-radius: 6px;
  background-color: rgba(150, 150, 150, 0.9);
  border: 15px #39ff14;
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #39ff14;
  border: 1px solid #000;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: rgb(255, 2, 230);
  border: 1px solid rgb(255, 255, 255);
  z-index: 1;
}
.puntuacion {
  top: 280px;
  right: 28px;
  position: absolute;
  color: #39ff14;
  font-family: monospace;
  z-index: 1;
}
